@import '../config/vars';

.wrapper {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
}

.body {
    width: 100%;
    display: flex;
}

.map, .content {
    width: 50%;
}

.map {
    min-height: 400px;
}

.content {
    margin-left: calc(var(--space) * 3);
}

.footer {
    width: 100%;
}
